{{#each this}}
  <div class='photo-card'>
    <a href='{{largeImageURL}}'>
      <div class='card-thumb'>
        <img src='{{webformatURL}}' alt='{{tags}}' loading='lazy' width='340' height='200' />
      </div>
      <div class='info'>
        <p class='info-item'>
          <b>Likes</b>
          <span>{{likes}}</span>
        </p>
        <p class='info-item'>
          <b>Views</b>
          <span>{{views}}</span>
        </p>
        <p class='info-item'>
          <b>Comments</b>
          <span>{{comments}}</span>
        </p>
        <p class='info-item'>
          <b>Downloads</b>
          <span>{{downloads}}</span>
        </p>
      </div>
    </a>
  </div>
{{/each}}